<div id="educacion" class="card border-primary mat-card m-2 p-2" *ngIf="isLogged"> <!--section Master Class min 40:17 min-->

<div class="card-titles p-2"> <!--title-->
    <a name="educación"></a>
        <h2>Educación</h2>
        <div *ngIf="isAdmin"><!--btn fx add-->
            <button type="button" class=" btn-edit btn btn-outline-primary but" 
            data-bs-toggle="modal" data-bs-target="#educacionForm" (click)="onNewEducacion()">
                 <i class="fa fa-plus">
                </i> 
            </button>
        </div>
</div>

    
<div ><!--items-->
    <ul class="items-list">
        <li *ngFor="let educacion of educacion, let i = index"> <!--*ngFor="let estudios of estudio, let i = index"-->
            <div class="data-container"> <!--info-->
                <!-- <a href="#"> -->
                    <div class="logo-image-container">
                        <img class="logo-image" [src]="educacion.img" width="200px" 
                        />    
                    </div>
                <!-- </a>       -->
                
                <div class=" list-info">
                    <div>
                        <h3>{{educacion.school}}</h3> <!--institución-->
                            <p>{{educacion.title}}</p> <!--título-->
                            <p><time>{{educacion.schoolStart}}</time> - <time>{{educacion.schoolEnd}}</time></p> <!--fecha-->
                    </div>
                </div>

            </div>

            <div class="data-control p-2" *ngIf="isAdmin" ><!--btns edit and delete-->
    
                <button type="button" class="btn btn-outline-warning but" data-bs-toggle="modal" data-bs-target="#educacionForm"
                (click)="editarEducacion(i)">
                    <i class="fa fa-pen">
                    </i>
                </button>
    
                <button type="button" class="btn btn-outline-danger but"
                (click)="eliminarEducacion(i)">
                <i class="bi bi-x-lg"></i>
                </button>
            </div>

        </li>
    </ul>
 </div>
  
</div>

 <!-- MODAL PARA CRUD -->

 <div class="modal fade" id="educacionForm" tabindex="-1" aria-labelledby="addEducacionLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addEstLabel">Educacion</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
  
          <form novalidate #f="ngForm" [formGroup]="educacionForm" 
          (ngSubmit)="nuevaEducacion(educacionForm.value.id)"> <!--VER-->
            <input type="hidden" formControlName="id" name="id">
  
            <div class="form-group">
                <label for="text">Titulo</label>
              <input type="text" name="title" formControlName="title" class="form-control" id="title"
                placeholder="Titulo de Estudio">    
                <label for="text">Institucion</label>
              <input type="text" name="school" formControlName="school" class="form-control" id="school"
              placeholder="Institucion de Estudio">
              <label for="text">Fecha Inicio</label>
              <input type="text" name="schoolStart" formControlName="schoolStart" class="form-control" id="schoolStart"
              placeholder="Fecha de Inicio">
              <label for="text">Fecha Fin</label>
              <input type="text" name="schoolEnd" formControlName="schoolEnd" class="form-control" id="schoolEnd"
              placeholder="Fecha de Finalizacion">
              <label for="text">Url Logo</label>
              <input type="text" name="img" formControlName="img" class="form-control form-control-sm" id="img"
              placeholder="Ingrese url de la imagen">
            
              
            </div>
            <div class="modal-footer justify-content-md-center">
              <button [disabled]="!f.valid" type="submit" class="btn btn-outline-success" data-bs-dismiss="modal">
                Guardar
              </button>
              <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">
                Cerrar
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  