







<h1 class="m-5">Iniciar Sesión</h1>

<section class="form">
  <div class="">
      <div class="form">
          <button class="cerrar" routerLink="/portfolio">X</button>
          <h1 class="mb-3">Inicio de Sesión</h1>
          <form ><!--[formGroup]="form" (ngSubmit)="send($event)"-->
              <div>
                  <label class="form-label" for="email" > 
                      <span>Ingrese su Email: </span>
                      <input class="form-control" type="text" formControlName="email" name="email" placeholder="Su email de Usuario" required> 
                  </label>
                  <div *ngIf="Email?.errors && Email?.touched">
                      <div *ngIf="Email?.hasError('required')" class="aviso"><span>El email es requerido.</span></div>
                      <div *ngIf="Email?.hasError('email')" class="aviso"><span>El email ingresado no respeta el formato esperado.</span></div>
                  </div>
              </div>
              <div>
                  <label class="form-label" for="password">
                      <span>Contraseña: </span>
                      <input class="form-control" type="password" name="password" formControlName="password" id="password" placeholder="Su contraseña" required>
                  </label>
                  <div *ngIf="Password?.errors && Password?.touched">
                      <div *ngIf="Password?.hasError('required')" class="aviso"><span>La contraseña es requerida.</span> </div>
                      <div *ngIf="Password?.hasError('minLength')" class="aviso"><span>La contrasena debe tener 8 o mas caracteres</span></div>
                  </div>
                  <div [hidden]="!form.invalid"class="">
                      <p clas="txt-just">Para visualizar el botón de <br> Ingreso a la Edición debe <br> ingresar su E-mail y su contraseña <br>(no menor a 8 caracteres).  </p>
                  </div>
                </div>
                <button type="submit"  class=""  >iniciar sesion como administrador/a</button> <!--[hidden]="form.invalid"-->
   
          </form>
      </div>
  </div>